<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AlexLabBL.Properties.Settings.AlexLabConnectionString"
            connectionString="Data Source=.;Initial Catalog=AlexLab;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>